.lesson-content {
    padding: 20px;
    z-index: 1500;
}

.lesson-content h2 {
    margin-bottom: 20px;
}

.lesson-content p {
    font-size: 16px;
    line-height: 1.6;
}

.lesson-content video {
    width: 100%;
}

.lesson-content img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto; /* Center images within their container */
}
