/* PathOverview.css */

.path-overview-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-top: 20px;
}

.section-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.subsection-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.overview-section {
    margin-bottom: 20px;
}

.overview-list {
    list-style-type: disc;
    margin-left: 20px;
}

.overview-list li {
    margin-bottom: 5px;
}
