
.courses-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .courses-header {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #333;
  }
  
  .courses-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .course-card {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    
  }
  
  .course-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .course-image-wrapper {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  
  .course-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .course-card:hover .course-image {
    transform: scale(1.1);
  }
  
  .course-content {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .course-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .course-author {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
  }
  
  .course-stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .course-students, .course-rating {
    font-size: 1rem;
    color: #999;
    display: flex;
    align-items: center;
  }
  
  .icon {
    margin-right: 5px;
  }
  
  .star {
    color: #ffc107;
  }
  
  .course-link {
    align-self: flex-end;
  }
  
  .course-button {
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
  }
  
  .course-button:hover {
    background: #0056b3;
  }
  
  @media screen AND (max-width: 1040px) {
    
  }